body {
  background-color: lightgrey;
  margin: 0;
}

nav {
  background-color: white;
}

ul#menu {
  padding: 10px;
  text-align: center;
  margin: 0;
  list-style-type: none;
}

ul#menu > li {
  margin: 0 10px;
}

@media only screen and (min-width: 600px) {
  ul#menu > li {
    display: inline-block;
  }
}

ul#menu > li a {
  text-decoration: none;
}

ul#menu li ul {
  position: absolute;
  display: none;
  list-style-type: none;
  background-color: white;
  padding: 10px;
  margin-left: -10px;
}

@media only screen and (max-width: 600px) {
  ul#menu li ul {
    display: block;
    position: relative;
    margin: 0;
  }

  ul#menu li ul a {
    color: black;
    font-size: 13px;
  }

  ul#menu {
    text-align: left;
  }
}

ul#menu li:hover ul {
  display: block;
}

a {
  color: orange;
}
